<div class="w-full h-lvh bg-black flex justify-between heada">
  <div class="w-1/2 h-3/4 flex justify-center">
    <div class="p-3 rounded-md imgdiv">
      <img
        src="../../../assets/image/rp.jpg"
        class="w-60 h-full rounded-md"
        alt=""
      />
    </div>
  </div>
  <div class="w-1/2 justify-center items-center text-white">
    <h1 class="text-2xl font-bold">
      About <span class="text-blue-700">me</span>
    </h1>
    <h1 class="text-2xl font-semibold">Fullstack Dotnet Developer</h1>
    <p class="mt-4 font-light text-xs">
      I was working as android Developer. Now I want to switch my job from
      android Developer to dot net developer so that i can explore my self.
    </p>

    <div class="w-1/2 flex justify-between text-white mt-5 text-sm font-serif">
      <p class="cursor-pointer" (click)="skills()" [ngClass]="{'active': openDiv === 0}">Skill</p>
      <p class="cursor-pointer" (click)="experience()" [ngClass]="{'active': openDiv ===1}">Experience</p>
      <p class="cursor-pointer" (click)="education()" [ngClass]="{'active':openDiv===2}">Education</p>
    </div>

    <div class="w-1/2 mt-5">
      @if(openDiv == 0){

      <div>
        <label for="webdev" class="text-red-700 font-semibold text-xs">Web Devlopement</label>
        <p id="webdev" class="text-white text-xs">Web App Developement</p>
        <label for="androiddev" class="text-red-700 font-semibold text-xs "
          >Android App Devlopement</label
        >
        <p id="androiddev" class="text-white text-xs mt-2">Android App Developement</p>
      </div>
      } @else if (openDiv == 1) {
      <div>
        <label for="webdev" class="text-red-700 font-bold">Experience</label>
        <ul>
          <li>
            <p class="text-xs font-light">
             {{expArray[0]}}
            </p>
          </li>
          <li>
            <p class="text-xs font-light">{{expArray[1]}}</p>
          </li>
          <li>
            <p class="text-xs font-light">{{expArray[2]}}</p>
          </li>
          <li>
            <p id="webdev" class="text-white text-xs font-light">{{expArray[3]}}</p>
          </li>
          <li>
            <p></p>
          </li>
        </ul>
       
      </div>
      } @else if (openDiv == 2) {
      <div>
        <label for="tab" class="text-red-700 font-semibold">Education</label>
        <table class="w-full">
          <tr>
            <td class="text-xs font-light">College Name</td>
            <td><p class="text-xs font-light">{{educationArr[0]}}</p></td>
          </tr>
          <tr>
            <td class="text-xs font-light">Branch</td>
            <td class="text-xs font-light">{{educationArr[1]}}</td>
          </tr>
          <tr>
            <td class="text-xs font-light">Duration</td>
            <td><span class="text-xs font-light">{{educationArr[2]}} </span> </td>
          </tr>
        </table>
      </div>
      }
    </div>
  </div>
</div>
