.imgdiv{
   box-shadow: 50px;
    
}

.cursor-pointer{
    opacity: 0.5;
}

table{
    border-spacing: 0 20px;
    border-collapse: separate;
}
.active{
    background-color: #333; 
    color: yellow;          
    padding: 5px;
    border-radius: 5px;
}
ul li{
    margin-top: 12px;
}
@media(max-width : 600px){
  .heada{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

