<div class="w-full bg-black h-7 flex justify-between items-center mb-5">
  <a href="" class="text-white text-2xl">Portfolio</a>
  <div class="flex justify-between text-white font-medium">
    <a [routerLink]="''" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a [routerLink]="'about'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">About</a>
    <a [routerLink]="'project'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Projects</a>
    <a [routerLink]="'portfolio'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Portfolio</a>
    <a [routerLink]="'contact'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Contact</a>
  </div>
</div>
