<div class="w-full h-lvh bg-black flex justify-between items-center flex-grow ps-14">
  <div class="w-2/3 text-white gap-64">
  <h1 class="font-semibold text-xl">Hi, Myself</h1>
  <h1 class="font-bold text-3xl">Rohit Pal</h1>
  <h1 class="font-semibold text-xl">And I am Dot Net Developer</h1>
  <p class="mt-2 font-thin text-sm">I had worked as an android Developer Now I want to switch my job into Dot Net Developer</p>


 
  <div class="flex mt-3">
  

    <a [href]="urls[i]" *ngFor="let url of icons,let i=index">
      <img [src]="url" class="w-5 h-7 logo" alt="">
    </a>

    
    
 

 <!-- //<a href="{{urls[0]}}" target="_blank"><span ><i class="fi fi-brands-facebook logo"></i></span></a> -->



</div> 

  
  <a href="assets/image/spr.pdf" download="YourCV.pdf">
    <button class="rounded-lg bg-blue-800 p-4 h-7 flex items-center mt-5 text-white cv">
      Download CV
    </button>
  </a>
  


</div>
  <div class="flex justify-center items-center w-1/3 ">
    <img src="assets/image/rp.jpg" class="w-36 h-36 mimg" alt="">
  </div>
</div>
