<div class="w-full h-lvh bg-black flex justify-between items-center flex-grow ps-14">
  <div class="w-2/3 text-white gap-64">
  <h1 class="font-semibold text-xl">Hi, Myself</h1>
  <h1 class="font-bold text-3xl">Rohit Pal</h1>
  <h1 class="font-semibold text-xl">And I am Dot Net Developer</h1>
  <p class="mt-2">I had worked as an android Developer Now I want to switch my job into Dot Net Developer</p>


  <div class="flex mt-3">
    <img src="../../../assets/image/facebook.png" class="w-5 h-7 logo" alt="">
    <img src="../../../assets/image/instagram.png" class="w-5 h-7 logo" alt="">
    <img src="../../../assets/image/youtube.png" class="w-5 h-7 logo" alt="">
    <img src="../../../assets/image/telegram.png" class="w-5 h-7 logo" alt="">
    <img src="../../../assets/image/linkedin.png" class="w-5 h-7 logo" alt="">
    <img src="../../../assets/image/twitter.png" class="w-5 h-7 logo bg-blue-900" alt="">
  </div>

  
  <button class="rounded-lg bg-blue-800 p-4 h-7 flex items-center mt-5">
   Download cv
  </button>


</div>
  <div class="flex justify-center items-center w-1/3">
    <img src="../../../assets/image/rp.jpg" class="w-36 h-36" alt="">
  </div>
</div>
