img{
    border-radius: 50%;
}
.logo{
   filter: invert(100%);
    margin-left: 10px;
    margin-right: 10px;
   
}

img {
    border-radius: 50%; /* Make images circular */
}

.logo {
    filter: invert(100%); /* Invert colors for logos */
    margin-left: 10px;
    margin-right: 10px; /* Margin between logos */
}
